body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
 }
img {
    position: absolute;
    width: 500px;
    left: 300px;
    top: 250px;
}
h1 {
    position: absolute;
    width: auto;
    height: auto;
    left: 100px;
    top: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 88px;
    letter-spacing: 0.035em;
    color: #171717;
}
a {
    position: absolute;
      width: auto;
      height: auto;
      left: 400px;
      top: 800px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 88px;
      letter-spacing: 0.035em;
      color: #171717;
}